# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Ignore executables named aoc, build, benchmark (as files)
/aoc/aoc
/build/build
/benchmark/benchmark

# But allow folders with those names
!/aoc/
!/build/
!/benchmark/
part1
part2

# Keys
*.session
*.tmp
